<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<div class="d-flex h-100">
  <!-- <div class="col-md-12"> -->
  <div class="col-auto register-box">
    <!-- col-md-3 -->
    <span class="d-inline-block py-5 pr-4 text-center logo-wrap"> <!-- img -->
      <img src="assets/images/digisign_logo.png" alt="Digisign"><!-- style="width:40px" -->
    </span><!-- <br><br><br><br><br><br><br> -->
    <div class="mb-5 page-titel">REGISTER</div>
    <!-- <p>REGISTER</p><br><br> -->
    <!--
<div>
  <select  (click)="goPlaces()"  id="select" class="myselect">
    <option >Chose your role</option>
    <option >
    I want to get my credentials verified</option>
  </select>
 </div>-->
    <!-- <a [routerLink]="['/register']"> --><button class="student-btn" [ngClass]="{'active': activeBtn === 'b1'}" (click)="myFunction('b1')"><span
          class="text1">I am a Student</span></button><!-- <br><br></a> -->
    <button class="student-btn" [ngClass]="{'active': activeBtn === 'b2'}" (click)="myFunction('b2')"><span class="text1">I
        am a Institution</span></button><!-- <br><br> -->
    <button class="student-btn" [ngClass]="{'active': activeBtn === 'b3'}" (click)="myFunction('b3')"><span class="text1">I
        am a Requester</span></button>
  </div>

  <div class="col-auto pr-0 register-label-img">
    <!-- col-md-8 p-0 -->

    <!-- <img src="assets/images/Artboard.png" class="img-rounded" style="width:800px;height:auto;margin-left:200px;"> -->
  </div>
  <!-- </div> -->
</div>
