<div class="w-100 h-100 d-flex align-items-center justify-content-center upload-details-wrap">
  <div class="upload-details-container"> <!-- valid -->
    <h2 class="text-center p-4 m-0 content-title">
      10th markscard.png
      <span class="float-right modify-button-wrap">
        <a href="javascript:;" class="d-inline-block mx-1 modify-button"><img src="assets/images/edit-icon.png" alt="Edit"></a>
        <a href="javascript:;" class="d-inline-block mx-1 modify-button"><img src="assets/images/delete-icon.png" alt="Delete"></a>
      </span>
    </h2>
    <div class="d-inline-flex w-100">
      <div class="w-50 p-3">
        <img src="assets/images/document-img.png" class="w-75" alt="test">
      </div>
      <div class="w-50 p-3">
          <form>
            <div class="form-group">
              <label for="email">Degree:</label>
              <input type="text" class="form-control" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="pwd">School/college/university:</label>
              <input type="text" class="form-control" placeholder="Minimum 7 characters">
            </div>
            <div class="form-group">
              <label for="email">Marks obtained(%):</label>
              <input type="text" class="form-control" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="email">Duration:</label>
              <div class="d-flex">
              <input type="text" class="form-control mr-1" placeholder="Start">
              <input type="text" class="form-control ml-1" placeholder="End"></div>
            </div>
            <div class="form-group">
              <label for="pwd">Place:</label>
              <input type="text" class="form-control" placeholder="Login">
            </div>
          </form>
      </div>
    </div>
    <div class="text-center verification-button">
      <button class="btn submit-button">Send For Verification</button>
    </div>
    <div class="text-center edit-button d-none">
      <button class="btn submit-button">Edit Details</button>
    </div>
  </div>
</div>