<div class="w-100 h-100 d-flex align-items-center justify-content-center upload-details-wrap">
  <div class="upload-details-container">
    <!-- valid -->

    <form [formGroup]="userDetails" (ngSubmit)="formSubmit(userDetails.value)">
      <h2 class="text-center p-4 m-0 content-title">
        10th markscard.png
        <span class="float-right modify-button-wrap">
          <a href="javascript:;" class="d-inline-block mx-1 modify-button"><img src="assets/images/edit-icon.png" alt="Edit"></a>
          <a href="javascript:;" class="d-inline-block mx-1 modify-button"><img src="assets/images/delete-icon.png" alt="Delete"></a>
        </span>
      </h2>
      <div class="d-inline-flex w-100">
        <div class="w-50 p-3">
          <img src="{{imageURL}}" class="w-75" alt="test">
        </div>
        <div class="w-50 p-3 user-details">
          <mat-form-field class="form-group example-full-width">
            <input matInput formControlName="degree" placeholder="Please enter degree obtained">
          </mat-form-field>
          <mat-form-field class="form-group example-full-width">
            <input type="text" matInput formControlName="institute" [matAutocomplete]="auto" placeholder="Please enter institute name">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onInstitutionChanged($event.option.value)">
              <mat-option *ngFor="let item of instituteDetails" [value]="item.institutionName">
                {{ item.institutionName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="form-group example-full-width">
            <input type="text" matInput formControlName="course" [matAutocomplete]="autoCourse" placeholder="Please enter course name">
            <mat-autocomplete #autoCourse="matAutocomplete" (optionSelected)="onCourseChanged($event.option.value)">
              <mat-option *ngFor="let courseItem of coursesDetails" [value]="courseItem.courseName">
                {{ courseItem.courseName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="form-group example-full-width">
            <input type="text" matInput formControlName="marks" placeholder="Marks obtained">
          </mat-form-field>
          <mat-form-field class="form-group example-full-width">
            <input type="text" matInput formControlName="grade" [matAutocomplete]="autoGrade" placeholder="Grade Secured">
            <mat-autocomplete #autoGrade="matAutocomplete" (optionSelected)="getGradeId($event.option.value)">
              <mat-option *ngFor="let gradeItem of grades" [value]="gradeItem.gradeName">
                {{ gradeItem.gradeName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="form-group example-full-width">
            <div class="d-flex">
              <input matInput formControlName="startDate" [matDatepicker]="startpicker" placeholder="Start Date">
              <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
              <mat-datepicker #startpicker></mat-datepicker>
              <input matInput formControlName="endDate" [matDatepicker]="endpicker" placeholder="End Date">
              <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
              <mat-datepicker #endpicker></mat-datepicker>
              <small *ngIf="userDetails.hasError('notValid')">Not valid</small>
            </div>
          </mat-form-field>
          <mat-form-field class="form-group example-full-width">
            <mat-select placholder="year" formControlName="credentailsYear">
              <mat-option *ngFor="let year of years" value="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="text-center edit-button">
        <button class="btn submit-button">Save</button>
      </div>
      <div class="text-center verification-button d-none">
        <button class="btn submit-button">Send For Verification</button>
      </div>
    </form>
  </div>
</div>
