.fileUpload-wrap {
  background-color: #fff;
  min-height: calc(100% - 55px);
}

.page-title {
  font-family: LucidaGrande;
  font-size: 20px;
}

.character-img-wrap {
  margin: 40px 0;
}

.character-img {
  width: 120px;
}

.form-wrap {
  background-color: #f9f9f9;
  border: solid 1px #f9f9f9;
  height: 200px;
  width: 455px;
}

.upload-btn-wrap {
  background-color: #195bdd;
  border-radius: 15px;
  height: 30px;
  width: 174px;
}

.upload-btn-wrap .upload-btn-text {
  color: #ffffff;
  font-family: LucidaGrande;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}

.upload-btn-wrap .upload-btn {
  position: absolute;
  opacity: 0;
}
