.row{
  margin-left: 45px;
}
.login-wrapper{
  font-family: Roboto-Regular;
}
.logo{
  display: flex;
  width: 70px;
  height: 164px;
  align-items: center;
  justify-content: center;
}
h3{
  width: 120px;
  height: 43px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #195add;
}
h6{
  
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.socialmedia{
  width: 98px;
  height: 29.7px;
  background-color: #225498;
  border-radius: 25px;
  border: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.socialmedia1{
  width: 98px;
  height: 29.7px;
  background-color: #1da0f1;
  border-radius: 25px;
  border: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
 
  
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.socialmedia2{
  width: 98px;
  height: 29.7px;
  background-color: #dd4b38;
  border-radius: 25px;
  border: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
h2{
 
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
p{
  margin-left:55px;
}
.label1{
  
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.form-control{
  width: 335px;
  height: 40px;
  border: solid 2px #d4dee7;
}
.signinbtn
{
  width: 281.2px;
  height: 46.9px;
  border-radius: 55px;
  background-color: #195bdd;
  margin-left: 25px;
  border: 0px;
  margin:30px;
  display:flex;
  
  
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  align-items: center;
  justify-content: center;

}
.donothave{
 
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left:60px;
  font-weight: 300;
  
  
}
.register{
  
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #195bdd;
}