.row {
  margin-left: 45px;
}

.login-wrapper {
  font-family: Roboto-Regular;
}

.logo {
  width: 70px;
  height: 120px;
}

.social-media-title {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #8c8c8c;
}

h3 {
  width: 120px;
  height: 43px;
  font-family: Roboto-Regular;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #195add;
}

h6 {

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.socialmedia {
  height: 29.7px;
  background-color: #225498;
  border-radius: 25px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Regular;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.socialmedia1 {
  height: 29.7px;
  background-color: #1da0f1;
  border-radius: 25px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.socialmedia2 {
  height: 29.7px;
  background-color: #dd4b38;
  border-radius: 25px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.social .btn {
  width: 100px;
  font-size: 14px;
  display: block;
  font-family: Roboto-Regular;
}

h2 {

  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

p {
  margin-left: 55px;
}

.label1 {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e6875;
}

.form-control {
  width: 335px;
  height: 40px;
  border: solid 2px #d4dee7;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #283d4a;
}

.signinbtn {
  width: 281.2px;
  height: 46.9px;
  border-radius: 55px;
  background-color: #bdbdbd;
  margin-left: 25px;
  border: 0px;
  margin: 30px;
  display: flex;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  align-items: center;
  justify-content: center;

}

.donothave {

  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: 300;
  color: #5e6875;


}

.register-link {

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #195bdd;
}

.register-box {
  padding-left: 5%;
  width: 414px;
}

.register-label-img {
  background: url(../../../assets/images/Artboard.png);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  width: calc(100% - 414px);
}

.or-line:after {
  content: '';

  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;

  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
}

.or-line-text {
  background-color: #fff;
  font-family: Roboto-Regular;
  z-index: 9;
  padding: 0 10px;
  font-size: 12px;
}

.ng-unvaild .signinbtn {
  background-color: #bdbdbd;
}

.ng-valid .signinbtn {
  background-color: #195bdd;
}
