<div class="d-flex h-100">
  <!-- <div class="row login-wrapper"> -->
  <!-- <div class="col-md-12"> -->
  <div class="col-auto register-box">
    <!-- col-md-3 -->
    <form name="form-signin" class="h-100 d-inline-flex justify-content-between flex-column" (ngSubmit)="f.form.valid && login($event, email.value, password.value)"
      #f="ngForm" novalidate>
      <div class="div1">
        <div>
          <div class="d-inline-block pt-3 text-center logo">
            <img src="assets/images/digisign_logo.png">
          </div>
  
          <h3 class="my-2">Sign In</h3>
        </div>
        <h6 class="my-4 social-media-title">Login with social media</h6>

        <div class="d-flex justify-content-between social">
          <button class="btn socialmedia"><i class="fa fa-facebook-square"></i><span class="pl-2">Facebook</span></button>
          <button class="btn socialmedia1"><i class="fa fa-twitter"></i><span class="pl-2">Twitter</span></button>
          <button class="btn socialmedia2">google+</button>
        </div>

        <div class="w-100 p-4 btn-group justify-content-center or-line">
          <span class="d-inline-block or-line-text">or</span>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          <h6 style="color:red">{{errorMessage}}</h6>
        </div>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="form-group mb-5" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email" class="label1">Username</label><br>
          <input type="email" placeholder="Login" class="form-control" id="email" name="email" pattern="[^ @]*@[^ @]*"
            [(ngModel)]="user.email" #email="ngModel" required />
          <div *ngIf="f.submitted && !email.valid" class="help-block" style="color:red"> Valid email is required</div>
        </div>
        <div class="form-group mb-5" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password" class="label1">Password</label><br>
          <input type="password" placeholder="Minimum 7 characters" class="form-control" id="password" name="password"
            [(ngModel)]="user.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block" style="color:red">Password is required</div>
        </div>
        <div id="remember" class="checkbox">

        </div>
        <button class="signinbtn" type="submit">SIGN IN</button>
        <div class="text-center py-4">
          <a [routerLink]="['/register']" class="btnregister ">
            <span class="donothave">Don't have an account?
              <!-- &nbsp;&nbsp;&nbsp; --><span class="register-link ml-3">REGISTER</span></span>
          </a>
        </div>
      </div>
    </form>
</div>
<div class="col-auto pr-0 register-label-img">
  <!-- col-md-8 p-0 -->


  <!-- <img src="assets/images/Artboard.png" class="img-rounded" style="width:800px;height:auto;margin-left:200px;"> -->
</div>
<!-- </div> -->
</div>