/* You can add global styles to this file, and also import other style files */
a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("./assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("./assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light-Regular";
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./assets/fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("./assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

.navbar {
  height: 80px;
  box-shadow: 0 2px 40px 1px rgba(221, 229, 252, 0.5);
  background-color: #ffffff;
  border: solid 1px #f5f4f5;
}

.btn.up_btn.afu-attach-pin {
  color: #ffffff;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  border: 0px;
  background-color: #195bdd;
  border-radius: 15px;
  height: 30px;
  max-width: 174px;
}

.btn.up_btn.afu-attach-pin:hover {
  color: #fff;
}
.btn.up_btn.afu-attach-pin ~ .label-info {
  display: none;
}

.afu-attach-pin .fa-paperclip {
  display: none;
}

.la-trash-o {
  font-size: 25px;
  color: #333;
}